*{
    box-sizing: border-box;
    margin: 0;
}

$primary: hotpink;


body {
    background-color: $primary;
}

.header {
    background-color: $primary;
}

.nav {
    background-color: $primary;
}

.header h2 {
    color: $primary;
}


.header {
     h2 {
        color: $primary;
     }
}

.card {
    
}